.container.margin-top-lg.margin-bottom-lg
  span.site-name-footer
    a(href="/").text-black Code
      span.text-primary Triangle
  .footer-links
    a(href="https://github.com/dumptyd/code-triangle" target="_blank").text-primary Source 
      i.fa.fa-code  
    |  |  
    span Made by 
      a(href="https://github.com/dumptyd/" target="_blank") dumptyd
      | .